<!-- nav -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand nav-link" routerLink="/mail">Fasmail</a>
  
  <!-- Links -->
  <div class="collapse navbar-collapse flex-row-reverse">
  <ul class="navbar-nav mr-auto">  
    <li class="nav-item">
      <a class="nav-link" routerLink="/mail">{{email}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>
</div>
</nav>

<button style="float: right; margin-top: 20px; margin-right: 50px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="myModal.openModal()">
  Compose
</button>

<h3 style="text-align: center; ">{{from}}</h3>

<br>
<br>
<br>

  <div class="container app">
    <div class="row app-one">
     
      <div class="col-sm-4 side">
        
          <input class="modal-close btn btn-default" type="submit" value="Add New" id="add_mail">
        <div>
<!-- sideBar -->
          <div class="row sideBar">
            <div class="row sideBar-body" style="height: 82px !important;" *ngFor="let mail of dataservice.data" (click)="viewMail(mail.MESSAGE)">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon"></div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main" >
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">{{mail.Name }}</span>
                  <br>
                  <span class="name-meta">{{mail.FROM}}</span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    
                  </div>
                </div>
              </div>
            </div>

          </div>
  
        </div>
    <!-- App One End -->
  </div>
  <!-- main -->
  <div class="col-sm-8 main">
    <div class="col-sm-9 col-xs-9 sideBar-main">
      <div class="row">
        <div class="col-sm-8 col-xs-8 sideBar-name">
            <p>{{user_message}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- main End -->
    </div>
  <!-- App End -->

  <!-- The Modal -->
  <mz-modal #myModal>
        <mz-modal-header>
            <h4>Compose Mail</h4>
        </mz-modal-header>
        <mz-modal-content>
            <h6>Click outside this dialog to cancel.</h6>
            <form [formGroup]="form" (ngSubmit)="sendEmail();" id="signUp">
              <!--  <div class="form-group">
                    <label>From:</label>
                    <input required="required" class="form-control" type="text" id="email" [(ngModel)]="dataservice.from_email" name="fromemail" placeholder="{{email}}" required>
                </div> -->
                <div class="form-group">
                    <label>To:</label>
                    <input required="required" class="form-control" type="text" id="email" formControlName="toemail" name="toemail" required>
                </div>
                <div class="form-group">
                    <label>Subject:</label>
                    <input required="required" class="form-control" type="text" id="subject" formControlName="subject" name="subject" required>
                </div>
                <div class="form-group">
                    <label>Body:</label>
                    <textarea required="required" class="form-control" type="text" id="messagebody" formControlName="messagebody" name="messagebody" required></textarea>
                    
                </div>
                <div class="form-group">
                    <label>Attachment:</label>
                    <input type="file" (change)="uploadFile($event)">
                </div>
                <input class="modal-close btn btn-default" type="submit" value="Send" id="send_mail">
            </form>
        </mz-modal-content>
    </mz-modal>
