<!-- nav -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand nav-link" routerLink="/mail">Fasmail</a>
  
  <!-- Links -->
  <div class="collapse navbar-collapse flex-row-reverse">
  <ul class="navbar-nav mr-auto">  
    <li class="nav-item">
      <a class="nav-link" routerLink="/mail">{{email}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>
</div>
</nav>



<!-- main app container 
<div class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h1>Hi {{username}}!</h1>
                <h1>{{email}}</h1>
<p>Welcome to Fasmail!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>
            </div>
        </div>
    </div>
</div> -->

<button style="float: right; margin-top: 20px; margin-right: 50px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="myModal.openModal()">
  Compose
</button>

<h3 style="text-align: center; ">{{this.message}}</h3>
<!--
<div ngIf="{{dataservice.message}} === Email has been sent.">
   <h3 style="text-align: center; color: green;">{{dataservice.message}}</h3>
</div>
<div ngIf="{{dataservice.message}} != Email has been sent.">
    <h3 style="text-align: center; color: red;">{{dataservice.message}}</h3>
</div>
-->
<br>
<br>
<br>

  <div class="container app">
    <div class="row app-one">

      <div class="col-sm-4 side">
        <div class="side-one">


<!-- sideBar -->
          <div class="row sideBar">
            <div class="row sideBar-body" style="height: 82px !important;">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">Test Test
                  </span>
                  <br>
                  <span class="name-meta">Test@gmail.com
                  </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="row sideBar-body" style="height: 82px !important;">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                  	<span class="name-meta">Linux Jobber
                  </span>
                  <br>
                    <span class="name-meta">linuxjobber@gmail.com
                  </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body" style="height: 82px !important;">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">Noobaid surulere
                  </span>
                  <br>
                    <span class="name-meta">noobtest@gmail.com
                  </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body" style="height: 82px !important;">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                  	<span class="name-meta">Azeem Animashaun
                  </span>
                  <br>
                    <span class="name-meta">azeemtest@gmail.com
                  </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body" style="height: 82px !important;">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                  	<span class="name-meta">Boluwatife Fasugba
                  </span>
                  <br>
                    <span class="name-meta">bolutest@gmail.com
                  </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body" style="height: 82px !important;">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                  	<span class="name-meta">Eniayomi Oluwaseyi
                  </span>
                  <br>
                    <span class="name-meta">ennytest@gmail.com
                  </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body" style="height: 82px !important;">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                  	<span class="name-meta">Goodness Pelumi
                  </span>
                  <br>
                    <span class="name-meta">goodtest@gmail.com
                  </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body" style="height: 82px !important;">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                  	<span class="name-meta">Dane Oluwaseyi
                  </span>
                  <br>
                    <span class="name-meta">danetest@gmail.com
                  </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body" style="height: 82px !important;">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                  	<span class="name-meta">Sam Enoch
                  </span>
                  <br>
                    <span class="name-meta">samtest@gmail.com
                  </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body" style="height: 82px !important;">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                  	<span class="name-meta">Vikor Manuel
                  </span>
                  <br>
                    <span class="name-meta">vikortest@gmail.com
                  </span>

                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          </div>
    <!-- App One End -->
  </div>

  <!-- App End -->

  <!-- The Modal -->
  <mz-modal #myModal>
        <mz-modal-header>
            <h4>Compose Mail</h4>
        </mz-modal-header>
        <mz-modal-content>
            <h6>Click outside this dialog to cancel.</h6>
            <form [formGroup]="form" (ngSubmit)="sendEmail();" id="signUp">
              <!--  <div class="form-group">
                    <label>From:</label>
                    <input required="required" class="form-control" type="text" id="email" [(ngModel)]="dataservice.from_email" name="fromemail" placeholder="{{email}}" required>
                </div> -->
                <div class="form-group">
                    <label>To:</label>
                    <input required="required" class="form-control" type="text" id="email" formControlName="toemail" name="toemail" required>
                </div>
                <div class="form-group">
                    <label>Subject:</label>
                    <input required="required" class="form-control" type="text" id="subject" formControlName="subject" name="subject" required>
                </div>
                <div class="form-group">
                    <label>Body:</label>
                    <textarea required="required" class="form-control" type="text" id="messagebody" formControlName="messagebody" name="messagebody" required></textarea>
                    
                </div>
                <div class="form-group">
                    <label>Attachment:</label>
                    <input type="file" (change)="uploadFile($event)">
                </div>
                <input class="modal-close btn btn-default" type="submit" value="Send" id="send_mail">
            </form>
        </mz-modal-content>
    </mz-modal>
